{% extends "orders/base.html" %}

{% load static %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <img src="{% static 'orders/pinocchio.png' %}" alt="Pinnochio" width="200px" style="float:right;"/>
    <h1>Welcome to Pinnochio's Pizza & Subs</h1>
    <p>Noch's has been in business for over 50 years! We've been feeding Harvard and the surrounding area since 1966!</p>
    <p>We sell award-winning sicilian-style pizza and mouth-watering steak subs! We have over 750 reviews on Yelp--- check it out!</p>
    <p>Find us on Twitter <a href="https://twitter.com/PinocchiosPizz">@PinocchiosPizz</a> and Instagram <a href="https://www.instagram.com/pinocchiospizza1/">@pinocchiospizza1</a></p>
{% endblock %}
